<div id="banner">
  <div class="container-banner">
    <div class="logo"><img src="../../../assets/images/logo-portal-taf.svg"></div>
    <div class="instituicao">Executivo Municipal de Eldorado do Sul - RS</div>
    <div class="menu-usuario"><img src="../../../assets/images/login-usuario.svg">&nbsp; &nbsp; &nbsp; &nbsp;
      <img src="../../../assets/images/ajuda.svg">&nbsp; &nbsp; &nbsp; &nbsp;
      <img src="../../../assets/images/contraste.svg"></div>
  </div>

<app-menu></app-menu>

</div>
